li{
  margin: 10px 0;
}

span.student {
	font-weight:bold; 	
}

span.type {
	font-weight:bold; 	
}

span.title {
	color: #660033;
}

span.student-sup {
	font-weight:bold; 	
	color: #1b8ac0;
}

span.committee {
	font-style:italic;
}