/***************************************************************************************
 * main.css
 * Style file for the "stages" (internship) pages
 * Author: christian wolf chriswolf@gmx.at
 * Begin: 4.10.2005
 ***************************************************************************************/
 
H2 {
	text-align: center
}

td {
	margin: 0em;
	padding-right: 1em;
}
