/***************************************************************************************
 * main.css
 * Style file for publication lists
 * Author: christian wolf chriswolf@gmx.at
 * Begin: 17.4.2005
 ***************************************************************************************/
 
body {
	margin-left: 8%; 
}

H2 {
	margin-left: -3%;
}

.navmenu {
	margin-left: -3%;
}

/***************************************************************************************
 * The types
 ***************************************************************************************/

dl {
  width: 100%;
  padding: 0;
  margin: 0
}

dt {
  float: left;
  width: 5%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
dt.journal {	
	font-size: 110%;
	color: #000066;
}
dt.conference {
	font-style: italic;
	color: #660000;
}
dd {
  float: left;
  width: 95%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

span.journal {	
	font-size: 110%;
	color: #000066;
}
span.conference {
	font-style: italic;
	color: #660000;
}


/***************************************************************************************
 * The types
 ***************************************************************************************/
 
span.t-author {
}

span.t-title {
	font-weight:bold; 	
}

span.t-medium {
	font-style:italic;
}

.t-abstract { 
	display: none;
	margin-left: +4%;
	margin-right: +4%;
	margin-top: +0.5em;
	margin-bottom: +0.5em;
	font-style:italic;
}

.t-bibtex { 
	display: none;
	margin-left: +4%;
	margin-right: +4%;
	margin-top: +0.5em;
	margin-bottom: +0.5em;
	font-style:italic;
}

.t-emph { 
	font-weight:bold;
	color: #ee0101; 	
}

